@mixin Clickable() {
	opacity: 0.8;
	cursor: pointer;

	&:hover, &:focus {
		opacity: 1;	
		color: #4183c4;
	}
	&:active {
		color: #000;
	}
	&:focus {
		outline: 1px dotted #000;
		outline-offset: 0px;
	}	
}