body#index {
	background: #fff;

	> form {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding-top: 4em;
		background-size: auto 100%;
		text-align: center;

		h1 {
			font-family: "Audiowide";
			font-size: 8em;
		}
		h2 {
			font-size: 2.8em;
			font-family: "Exo 2";
			font-weight: 100;
			margin-bottom: 4em;
		}

		h1, h2 {
			color: #fff;
			text-shadow: 1px 1px 1px rgba(#000, 0.5);
		}

		input,button {
			border: none;
			font-size: 2em;
			padding: 0.5em;
			font-weight: 100;			
		}

		input {
			width: 18em;
			opacity: 0.6;
			border-bottom: 1px solid rgba(#000, 0.2);

			&:hover {
				opacity: 0.8;
			}
			&:focus {
				outline-color: #000;
				opacity: 1;
			}
		}

		button {
			margin-top: 1em;
			outline: 2px solid #000;
			outline-offset: -1px;

			&:hover, &:focus {
				outline-width: 1px;
				outline-offset: 0;
			}
			&:active {
				background: #fff;
			}
		}
	}
}