@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 100;
  src: url("/Style/Font/Exo2/Exo2-Thin.woff") format('woff');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  src: url("/Style/Font/Exo2/Exo2-Light.woff") format('woff');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: url("/Style/Font/Exo2/Exo2.woff") format('woff');
}